@model WeatherResult

@{
    ViewData["Title"] = "Ilmaennustus";
}

<div class="text">
    <h1>@ViewData["Title"]</h1>
    <p>Koordinaadid: @Model.Latitude, @Model.Longitude</p>
    <p>Temperatuur: @Model.Temperature</p>
    <p>Niiskus: @Model.Humidity</p>
</div>